h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Antic Didone', serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

.mainpage {
    height: 140vh;
    background-image: url("../images/Map_BG1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // min-height: fill-available;
}

body {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    min-height: fill-available;
    // height: 100vh;
}

#google_translate_element {
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.goog-te-balloon *,
.goog-te-combo *.goog-te-banner *,
.goog-te-ftab *,
.goog-te-menu *,
.goog-te-menu2 * {
    font-size: 20px !important;
}

#waypointerResults {
    padding-top: 10px;
    padding-bottom: 10px;
}

#RenderingsResults {
    padding-top: 10px;
    padding-bottom: 10px;
}

#formsResults {
    padding-top: 10px;
    padding-bottom: 10px;
}

#ModelsResults {
    padding-top: 10px;
    padding-bottom: 10px;
}

#designCenteringResults {
    padding-top: 10px;
    padding-bottom: 10px;
}

#ConceptResults {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-information {
    text-align: left;
    padding-left: 5px;
}

.btn-lg {
    background-color: black;
    border: none;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    width: 100%;
    white-space: normal;
}

.btn-lg:hover {
    background-color: #0f4580;
    white-space: normal;
}

.btn-info.focus,
.btn-info:focus {
    color: #fff;
    background-color: #0f4580;
    border-color: #0f4580;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
    outline-color: none;
    outline-width: none;
    outline-offset: none;
    background-color: #0f4580;
}

.RenderingsBtn {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    width: 100%;
}

.RenderingsBtn:hover {
    background-color: #ffffff;
    color: #000000;
}

.RenderingsBtn.focus,
.RenderingsBtn:focus {
    color: #ffffff;
    background-color: #000000;
    border-color: #0f4580;
}

.RenderingsBtn.active.focus,
.RenderingsBtn.active:focus,
.RenderingsBtn.focus,
.RenderingsBtn:active.focus,
.RenderingsBtn:active:focus,
.RenderingsBtn:focus {
    outline: none;
    outline-color: none;
    outline-width: none;
    outline-offset: none;
    background-color: #ffffff;
    color: #000000;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 28px;
}

h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.row2 {
    // height: 300px;
    width: 100%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.row1 {
    // height: 300px;
    width: 100%;
    padding: 5% 5% 0;
    margin-bottom: 1px;
}

.row1 .row2 {
    // height: 500px;
    width: 100%;
    float: left;
}

.row2 {
    clear: both;
    margin-right: 0;
}

.waypointer {
    //  margin-top: 4%;
    float: left;
    width: 30%;
    // overflow: hidden;
    // position: absolute;;
    // text-align: center;
    img {
        // top: 60%;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
    }
}

.designCentering {
    float: left;
    width: 30%;
    // margin-top: 10%;
    img {
        // top: 30%;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
    }
}

.Models {
    //  margin-top: 4%;
    float: left;
    width: 30%;

    img {
        // top: 60%;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
    }
}

.Renderings {
    //  margin-top:-4%;
    float: left;
    width: 30%;

    img {
        // bottom: 60%;
        margin: 0 auto;
        display: block;
    }
}

.Concept {
    float: left;
    width: 30%;
    // margin-top: -10%;
    img {
        // bottom: 30%;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
    }
}

.forms {
    //  margin-top: -4%;
    float: left;
    width: 30%;

    img {
        bottom: 60%;
        margin: 0 auto;
        display: block;
        border-radius: 50%;
        // padding-bottom: 10px;
    }
}

.iconsRow1 img {
    clear: both;
    width: 85%;
    align-self: center;
    padding-bottom: 0;
}

.centerTag {
    z-index: 10;
    width: 80%;
    background-size: cover;
    display: block;
    margin: 0 auto;
    clear: both;
    padding: 0;
}

.centerTag img {
    //  width: 80%;
    height: 200%;
    //  height: auto;
    align-self: center;
    //  top: -90%;
    margin: 0 auto;
    //  margin-top: -5%;
    display: block;
}

.iconsRow2 img {
    width: 85%;
    align-self: center; // padding-bottom: 20px;
}
// beginning of pages

.leftColumn {
    background-color: #0f4580;
    width: 25%;
    margin: 0;
    display: block;
    margin: 0 auto;
    float: left;
    height: 800vh;
    // min-height: 100%;
    // min-height: fill-available;
    color: white;

    h1 {
        padding: 0;
        margin: 0;
        // font-size: 40px;
        font-weight: 600;
        padding-bottom: 15%;
        margin-top: 25px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .primary {
        font-size: 25px;
        font-weight: 300;
        padding-left: 2%;
        padding-right: 2%;
    }

    .leftColumn .ParticularIcon {
        width: 300px;
        padding: 0;
        display: block;
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 5%;
        float: left;
    }

    .movingPart {
        width: 100%;
        padding: 0;
        display: block;
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 5%;
        position: relative;
    }

    .Compass {
        display: block;
        margin: 0 auto;
        width: 65%;
        transform: translateX(-1%);
    }

    .sticker {
        width: 33%;
        z-index: 100;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%) rotate(0);
    }

    .sticker:hover {
        /* Toggle our animation play state to running when we are hovering over our sticker */
        animation: spin 10s linear infinite;
        // float: left;
    }
    @keyframes spin {
        100% {
            transform: translateX(-50%) rotate(360deg);
        }
    }
}

.redColumn {
    background-color: #ff0033;
}

.ltblueColumn {
    background-color: #8ad5dd;
}

.redBtn:hover {
    background-color: #ff0033;
}

.ltblueBtn:hover {
    background-color: #8ad5dd;
}

.ltblueBtn.focus,
.ltblueBtn:focus {
    color: #fff;
    background-color: #8ad5dd;
    border-color: #8ad5dd;
}

.ltblueBtn.active.focus,
.ltblueBtn.active:focus,
.ltblueBtn.focus,
.ltblueBtn:active.focus,
.ltblueBtn:active:focus,
.ltblueBtn:focus {
    outline: none;
    outline-color: none;
    outline-width: none;
    outline-offset: none;
    background-color: #8ad5dd;
}

.redBtn.focus,
.redBtn:focus {
    color: #fff;
    background-color: #ff0033;
    border-color: #ff0033;
}

.redBtn.active.focus,
.redBtn.active:focus,
.redBtn.focus,
.redBtn:active.focus,
.redBtn:active:focus,
.redBtn:focus {
    outline: none;
    outline-color: none;
    outline-width: none;
    outline-offset: none;
    background-color: #ff0033;
}

.closes {
    background-color: white;
}

.closes:hover {
    background-color: white;
}

.closes.focus,
.closes:focus {
    color: #fff;
    background-color: white;
}

.closes.active.focus,
.closes.active:focus,
.closes.focus,
.closes:active.focus,
.closes:active:focus,
.closes:focus {
    outline: none;
    outline-color: none;
    outline-width: none;
    outline-offset: none;
    background-color: white;
}

.modal-body {
    text-align: center;
}

.rightSideWhole {
    background-color: white;
    width: 75%;
    margin: 0;
    padding: 0,0,0,5%;
    height: 800vh;
    // min-height: fill-available;
    float: left;
}

.rightSideWhole h1 {
    display: none;
}

.formsPage {
    float: none;
}

.row1MOBY .row2MOBY .row3MOBY {
    display: none;
}

.iconsMobyRow1 .iconsMobyRow2 .iconsMobyRow3 img {
    display: none;
}

.phone {
    display: none;
}

.mobyTag {
    display: none;
}

.leftColumn .isThird h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24px;
}
// MEDIA START HERE
@media only screen and (max-width: 667px) {
    .laptop {
        display: none;
    }

    .phone {
        display: block;
    }

    .leftColumn {
        width: 50px;
        min-height: 100%;
    }

    .leftColumn h1 {
        display: none;
    }

    .leftColumn .isSecondary h1 {
        display: none;
    }

    .leftColumn h5 {
        display: none;
    }

    #google_translate_element {
        padding-left: 1px;
        padding-bottom: 1px;
        padding-right: 1px;

        .skiptranslate {
            font-size: 9px;
        }
    }

    h4 {
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-size: 14px;
    }

    .leftColumn .ParticularIcon {
        width: 75px;
        padding: 0;
        display: block;
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 5%;
        float: left;
    }

    .movingPart {
        width: 65%;
        padding: 0;
        display: block;
        margin: 0 auto;
        padding-top: 10%;
        padding-bottom: 5%;
        position: relative;
    }

    .leftColumn .movingPart .Compass {
        display: block;
        margin: 0 auto;
        width: 76%;
        transform: translateX(-1%);
    }

    .leftColumn .sticker {
        width: 35%;
        z-index: 100;
        position: absolute;
        left: 49%;
        top: 55%;
        transform: translateX(-50%);
        display: block;

        &:hover {
            animation: none;
        }
    }

    .row1MOBY .row2MOBY .row3MOBY {
        display: block;

        .centerTag {
            display: none;
        }
    }

    .iconsMobyRow1 .iconsMobyRow2 .iconsMobyRow3 {
        width: 85%;
    }

    .iconsMobyRow1 .iconsMobyRow2 .iconsMobyRow3 img {
        width: 85%;
        align-self: center;
        display: block;
    }

    .mobyTag {
        padding-top: 10px;
        display: block;
        width: 100%;
        height: 200%;
        align-self: center;
        margin: 0 auto;
    }

    .Concept,
    .Models,
    .Renderings,
    .designCentering,
    .forms,
    .waypointer {
        float: left;
        width: 50%;

        img {
            bottom: 60%;
            margin: 0 auto;
            display: block;
            border-radius: 50%;
        }
    }

    .rightSideWhole .isSecondary {
        font-size: 24px;
    }

    .goog-te-combo * {
        padding-left: 10%;
        font-size: 10px;
    }
}
