.josie {
  height: 100px;
}

.containerFour {
  height: 200px;
  width: 90%;
}
.uxUI  {
  height: 100px;
  width: 33%;
  background-color: yellow;
}

.webWork {
  height: 100px;
  width: 33%;
  background-color: purple;
}
 .wireFrames  {
  height: 90px;
  width: 33%;
  background-color: orange;
}
.wireFrames {
  height: 100px;
}

 .organicAMI {
  height: 100px;
  width: 33%;
  background-color: blue;
}
